services:
  - type: web
    name: portfolio
    env: python
    buildCommand: "./build.sh"
    startCommand:  "gunicorn main.wsgi:application"
    plan: free
    autoDeploy: true
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DEBUG
        value: false

